.player {
    position: absolute;
    top: 7.5%;
    left: 77.5%;
    width: 20.7%;
}

.d-flex {
    display: flex;
}

.info {
    white-space: nowrap;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.marquee[data-descr] {
    cursor: copy;
}
  
.marquee[data-descr]:hover::after,
.marquee[data-descr]:focus::after {
    content: attr(data-descr);
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #000;
}

.marquee > span {
    display: inline-block;
    padding-left: 100%;  /* show the marquee just outside the paragraph */
    animation: marquee 10s linear infinite;
}

.marquee > span.copied {
    padding-left: 0;
    animation: none;
}

/* Make it move */
@keyframes marquee {
    from { transform: translate(0); }
    to   { transform: translate(-100%); }
}

button,
select {
    border-style: none;
    padding: 0.125rem;
    border: 1px solid #000;
}

button {
    flex-grow: 1;   
}

canvas {
    height: 8vh;
}

.marquee,
canvas,
select {
    width: 100%;
}

@media screen and (max-width: 576px) {
    .player {
        position: fixed;
        top: 42%;
    }

    .d-flex {
        flex-wrap: wrap;
    }
}
