<div (click)="copy($event)" class="d-flex info" data-descr="Copy tune URL">
  <div class="marquee" tabindex="0">
    <span>{{info()}}</span>
  </div>
  @if (loadedTune) {
    <div>{{subTune() + 1}}/{{subTunes()}} {{playTime()}}</div>
  }
</div>
<div class="d-flex">
  <button (click)="play()" title="Play tune"><img [src]="playButton" width="24" height="24" alt="Play"></button>
  <button (click)="shuffleTune()" title="Shuffle tune"><img src="/assets/icons/arrows-shuffle.svg" width="24" height="24" alt="Shuffle"></button>
  <button (click)="next()" title="Next track"><img src="/assets/icons/player-track-next.svg" width="24" height="24" alt="Next"></button>
  <button (click)="prev()" title="Previous track"><img src="/assets/icons/player-track-prev.svg" width="24" height="24" alt="Previous"></button>
</div>
<div class="d-flex">
  <label for="tunes">Select a tune:</label>
  <select id="tunes" [(ngModel)]="selectedTune" (ngModelChange)="selectTuneChange($event)" aria-label="Select tune">
    <optgroup label="SID">
      @for (sid of sids; track sid) {
        <option [ngValue]="sid">{{sid}}</option>
      }
    </optgroup>
    <optgroup label="MOD">
      @for (mod of mods; track mod) {
        <option [ngValue]="mod">{{mod}}</option>
      }
    </optgroup>
    <optgroup label="OPUS">
      @for (flac of flacs; track flac) {
        <option [ngValue]="flac">{{flac}}</option>
      }
    </optgroup>
  </select>
  <button (click)="download()" title="Download {{ optgroupLabel }} tunes"><img src="/assets/icons/download.svg" width="24" height="24" alt="Download"></button>
</div>
<a href="{{ getTunePath(selectedTune) }}" download attr.data-descr="Download {{ selectedTune }}" attr.aria-label="Download {{ selectedTune }}">
  <img [ngClass]="{ 'heart': true, 'hidden': playing }" src="/assets/images/sol.svg" width="208" height="189" alt="Summer of Love heart">
  <canvas #canvas></canvas>
</a>
<img (click)="shuffleTool()" class="tool" src="{{ getToolPath(selectedTool) }}" width="250" height="250" title="Shuffle tool" alt="{{ selectedTool }}">
