.player {
    position: absolute;
    top: 47vh;
    top: 47dvh;
    left: 77.6%;
    width: 20.5%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.info {
    cursor: copy;
    white-space: nowrap;
}
  
.info:hover::after,
.info:focus::after {
    content: attr(data-descr);
    position: absolute;
    left: 0;
    width: 100%;
    background-color: var(--bgcolor);
}

.info:hover span,
.info:focus span {
    animation-play-state: paused;
}

.marquee {
    overflow: hidden;
}

.marquee > span {
    display: inline-block;
    padding-left: 100%;  /* show the marquee just outside the paragraph */
    animation: marquee 10s linear infinite;
}

/* Make it move */
@keyframes marquee {
    to   { transform: translate(-100%); }
}

select {
    height: 31px; /* wrapped flex items take only the minimum size */
}

label {
    /* .visually-hidden from Bootstrap */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

button,
select {
    border-style: none;
    border: 1px solid var(--bgcolor);
}

button {
    flex-grow: 1;
    padding: 1px;
}

.tool {
    cursor: pointer;
}

.heart {
    position: absolute;
    top: 0;
}

.heart,
canvas {
    display: block;
    height: 7.5vh;
    height: 7.5dvh;
}

a[data-descr] {
    position: relative;
}

a[data-descr]:hover::after,
a[data-descr]:focus::after {
    content: attr(data-descr);
    position: absolute;
    top: 0;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heart,
.marquee,
.tool,
canvas,
select {
    width: 100%;
}

.tool {
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 576px) {
    .player {
        top: 7.5%;
        bottom: 52.5%;
    }

    .d-flex {
        flex-wrap: nowrap;
    }

    button {
        padding: revert;
    }

    .tool {
        width: 16vh;
        width: 16dvh;
    }
}

.mt-auto {
    margin-top: auto;
}

.hidden {
    visibility: hidden;
}
