<button (click)="goBack()"><img src="assets/images/arrow-back.svg" width="24" height="24" alt="Go back"></button>
<audio *ngIf="hasAudio == true" controls playsinline preload="metadata">
    <source src="{{name | mp3file}}" type="audio/mpeg">
    Your browser does not support audio element
</audio>
<markdown [src]="path" (load)="onLoad()" [disableSanitizer]="true"></markdown>
<video *ngIf="hasVideo == true" controls playsinline preload="metadata">
    <source src="{{name | webmfile}}" type='video/webm;codecs="vp9,opus"'>
    <source src="{{name | mp4file}}" type='video/mp4;codecs="avc1.42c01e,mp4a.40.2"'>
    Your browser does not support video element
</video>
