app-content {
  audio {
    display: block;
    margin-top: 0.5em;
    width: 50%;
  }

  iframe {
    width: 100%;
    height: 100vh;
    border: none;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
  }
  
  .jump,
  a {
    display: inline-block;
    color: var(--blue);
    line-height: 1.1;
    text-decoration: none;
    outline: none;
    outline: 0;
    cursor: pointer;
  
    &::after {
      display: block;
      content: "";
      height: 1px;
      width: 0%;
      background-color: var(--blue);
      transition: width 0.5s ease;
    }
  
    &:hover::after {
      width: 100%;
    }
  }
  
  pre {
    padding: 1rem 1.5rem;
    max-width: 100%;
    overflow: auto;
    color: var(--white);
    background-color: var(--darkgrey);
    border: 1px solid var(--grey);
    border-radius: 5px;
  }

  button {
    margin-right: 1rem;
  }

  button > * {
    pointer-events: none;
  }

  h1 {
    word-break: break-all;
  }

  [id] {
    scroll-margin-top: 50px;

    &:hover > .anchor-link {
      opacity: 1;
    }
  }

  .anchor-link {
    margin-left: 0.25rem;
    opacity: 0;
  }
}
