app-content {
  audio {
    display: block;
    margin-top: 0.5em;
    width: 50%;
  }

  iframe {
    width: 100%;
    height: 100vh;
    border: none;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
  }
  
  .jump,
  a {
    display: inline-block;
    color: var(--blue);
    line-height: 1.1;
    text-decoration: none;
    outline: none;
    outline: 0;
    cursor: pointer;
  
    &::after {
      display: block;
      content: "";
      height: 1px;
      width: 0%;
      background-color: var(--blue);
      transition: width 0.5s ease;
    }
  
    &:hover::after {
      width: 100%;
    }
  }
  
  pre {
    padding: 1rem 1.5rem;
    max-width: 100%;
    overflow: auto;
    color: var(--white);
    background-color: var(--darkgrey);
    border: 1px solid var(--grey);
    border-radius: 5px;
  }

  h1 {
    word-break: break-word;
  }

  [id] {
    scroll-margin-top: 42px;

    &:hover > .anchor-link {
      opacity: 1;
    }
  }

  .anchor-link {
    margin-left: 0.25rem;
    opacity: 0;
  }

  nav {
    position: sticky;
    top: 0;
    background-color: var(--bgcolor);
    display: flex;
    justify-content: space-between;
  }

  .toc-title {
    font-weight: bold;
  }

  @media screen and (min-width: 768px) {
    .toc-list {
      columns: 2;
    }
  }
  button {
      opacity: 0.7;
      transition: opacity 0.3s;
  }

  button:hover {
      opacity: 1;
  }

  button > * {
      pointer-events: none;
  }

  button {
      cursor: pointer;
  }
}
