@import '../../helper.scss';
@import '../../variables.scss';

.social {
    @extend .centerAll;
    position: fixed;
    top: 75%;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
  .social {
    position: absolute;
    top: 31.25%;
    left: 77.69%;
    width: 20.31%;
    height: 16.11%;
    flex-direction: row;
  }
}

svg {
  width: 2rem;
  height: auto;
  margin: 0.5em;
  fill: $grey;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}

svg:hover {
  fill: $darkGrey;
}
