@import '../../helper.scss';
@import '../../variables.scss';

.social {
    @extend .centerAll;
    position: absolute;
    top: 31.25%;
    left: 77.69%;
    width: 20.31%;
    height: 16.11%;
}

svg {
  width: 6rem;
  height: auto;
  margin: 0 15px;
  fill: $grey;
  transition: 250ms;
  transition-timing-function: ease-in-out;
}

svg:hover {
    fill: $darkGrey;
}
