img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-height: 100vh;
      max-height: 100dvh;
}

// Fix for Safari
img[src="data:,"] {
      display: none;
}

div {
      position: absolute;
      cursor: pointer;
}

.left {
      left: 76%;
}

.right {
      left: 90%;
}

.left,
.right {
      top: 27%;
      width: 10%;
      height: 10%;
}

@media (min-width: 576px) {
      .left,
      .right {
            top: 86%;
      }
}
