img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      margin-left: -1px;
}

@media screen and (max-width: 1071px) {
      img {
            position: fixed;
            width: 100vw;
            height: auto;
            margin-left: 0;
      }
}

a {
      position: absolute;
      cursor: pointer;
}

.left {
      left: 76%;
}

.right {
      left: 90%;
}

.left,
.right {
      top: 86%;
      width: 10%;
      height: 10%;
}

@media screen and (max-width: 1071px) {
      .left,
      .right {
            top: 27%;
      }
}
