img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
}
@media screen and (max-width: 1071px) {
      img {
            position: fixed;
            width: 100vw;
            height: auto;
      }
}

a {
      position: absolute;
      cursor: pointer;

      &.left {
            top: 86.94%;
            left: 76.82%;
            width: 9.03%;
            height: 7.5%;
      }

      &.right {
            top: 87.5%;
            left: 91.23%;
            width: 8.16%;
            height: 7.08%;
      }
}
@media screen and (max-width: 1071px) {
      a {
            &.left {
                  top: 28.94%;
            }

            &.right {
                  top: 29.5%;
            }
      }
}
