@import '../../variables.scss';

:host {
    position: absolute;
    top: 0;
    left: 0;
    width: 75.7%;
    height: 100vh;
    background-color: #000;
    overflow-y: auto;
    opacity: 1;
    transition: opacity 1s;
    &.hide {
        opacity: 0;
    }
}

@media screen and (min-width: 768px) {
    :host {
        height: 72.6%;
    }
}

ul {
    display: inline-block;
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    > li {
        float: left;
    }

    a {
        display: inline-block;
        color: $blue;
        text-decoration: none;
        padding: 0.375rem;
    
        &::after {
          display: block;
          content: "";
          height: 1px;
          width: 0%;
          background-color: $blue;
          transition: width 0.5s ease;
        }
    
        &:hover::after {
          width: 100%;
        }
    }
}

header {
    position: sticky;
    top: 0;
    background-color: #000;
}

main {
    padding: 0 0.375rem;
}

img {
    max-width: 100%;
    height: auto;
}
