<nav>
  <header>
    <a [routerLink]="['']" routerLinkActive="active">
      <img src="/assets/images/header.webp" width="536" height="42" alt="Flimmerkiste">
    </a>
  </header>
  <ul>
    <li *ngFor="let menuitem of menu">
      <a [routerLink]="[menuitem.name]">
        <svg class="icon icon--{{menuitem.icon}}" role="img" aria-hidden="true">
          <use [attr.xlink:href]="'/assets/icons/sprite.svg#' + menuitem.icon"></use>
        </svg>
        {{ menuitem.name }}
      </a>
    </li>
  </ul>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
