@import '../../helper.scss';
@import '../../variables.scss';

.screen {
    @extend .fadeIn;
    position: absolute;
    top: 0;
    left: 0;
    width: 75.1%;
    height: 72.1%;
    color: $lightGrey;
    background-color: black;
    overflow-y: auto;
    cursor: pointer;
}
@media screen and (max-width: 1071px) {
    .screen {
        height: auto;
    } 
}

.menu {
    display: inline-block;
    list-style-type: none;
    padding-left: 0;
}

.menu > li {
    float: left;
    margin: 1rem;
}

.content {
    padding: 0.5rem;
    text-align: initial;
}
