<div id="screen" class="screen fade">
  <header>
    <a [routerLink]="['']" routerLinkActive="active">
      <img src="/assets/images/title.webp" width="543" height="84" alt="Logo midzers Flimmerkiste">
    </a>
    <nav>
      <ul class="menu">
        <li *ngFor="let menuitem of menu">
          <a [routerLink]="[menuitem.name]" routerLinkActive="active">{{menuitem.name}}</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div><!-- screen -->
