@import '../../variables.scss';

.posts {
  list-style-type: none;
  padding-left: 5px;
}

.post {
  margin: 2em 0;
}

.post .date {
  display: block;
  font-size: 0.8em;
}

.post .badge {
  display: inline-block;
  font-size: 0.8em;
  color: $lightBlue;
  padding: 0.1em 0.5em;
  background-color: $darkBlue;
  border-radius: 4px;
}

li a {
	color: $blue;
  text-decoration: none;
	transition: color .3s;
}

li a:hover {
	color: $lightBlue;
}

a:before {
  content: '\203A';
	font-weight: bold;
	position: relative;
	opacity: 0;
	left: 0;
	transition: left .3s, opacity .3s;
}

a:hover:before {
	opacity: 1;
	left: -5px;
}
