@import '../../variables.scss';

.posts {
  list-style-type: none;
  padding-left: 1rem;
}

.post {
  margin-top: 1rem;

  > .date {
    font-size: 0.8em;
  }

  > .badge {
    display: inline-block;
    color: $lightBlue;
    background-color: $darkBlue;
    margin-left: 0.75em;
    letter-spacing: 1px;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.375rem;
  }
}

li a {
	color: $blue;
  text-decoration: none;
	transition: color .3s;
  margin-left: -5px;
}

li a:hover {
	color: $lightBlue;
}

a:before {
  content: '\203A';
	font-weight: bold;
	position: relative;
	opacity: 0;
	left: 0;
	transition: left .3s, opacity .3s;
}

a:hover:before {
	opacity: 1;
	left: -5px;
}
