:host {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--lightgrey);
}

video {
    display: block;
    max-width: 100vw;
    max-height: 100vh;
    max-height: 100dvh;
    height: auto;

    &.pointer {
        cursor: pointer;
    }
}

button {
    position: absolute;
    top: 4vh;
    top: 4dvh;
    right: 7vw;
}

@media (min-width: 576px) {
    .container {
        position: relative;
    }
    
    video {
        width: auto;
    }

    button {
        top: 0;
        right: 25.3%;
    }
}
