:host {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--lightgrey);
}

video {
    display: block;
    max-width: 100vw;
    max-height: 100vh;
    max-height: 100dvh;
    height: auto;
    cursor: pointer;
}

img {
    position: absolute;
    top: 4vh;
    top: 4dvh;
    right: 6.5%;
    width: 12%;
    height: auto;
    cursor: pointer;
}

@media (min-width: 576px) {
    .container {
        position: relative;
    }
    
    video {
        width: auto;
    }

    img {
        top: 9vh;
        top: 9dvh;
    }
}
