:host {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--lightgrey);
}

video {
    display: block;
    max-width: 100vw;
    max-height: 100vh;
    max-height: 100dvh;
    height: auto;
}

@media (min-width: 576px) {
    .container {
        position: relative;
    }
    
    video {
        width: auto;
    }
}
